/* header styling*/
html, body{
    height: 100%;
    font-weight: 800;
}
  
body{
    background: black;
    font-family: 'Poppins';
}
  
svg {
      display: block;
      font: 7em 'Poppins';
      width: 960px;
      height: 300px;
      margin: 0 auto;
}
  
.text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
}
  
.text-copy:nth-child(1){
    stroke: #04189a;
    animation-delay: -1;
}
  
.text-copy:nth-child(2){
    stroke: #1e32cd;
    animation-delay: -2s;
}
  
.text-copy:nth-child(3){
    stroke: #1c4fd1;
    animation-delay: -3s;
}
  
.text-copy:nth-child(4){
    stroke: #007bff;
    animation-delay: -4s;
}
  
.text-copy:nth-child(5){
    stroke: #31a1fd;
    animation-delay: -5s;
}
  
@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

/*nav bar styling*/

nav
{
    position: sticky;
    top: 0px;
}

.navBar
{
    background-color: black;
    padding: 10px; 
    transition: 0.4s; 
    width: auto;
    z-index: 99;
}

.navBar a
{
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.navBar a:hover
{
    background-color: black;
    color: #1c4fd1;
}

#left, #center, #center2, #right
{
    padding: 0 110px 0 110px;
}

/* image styling */

.car
{
    padding: 4px 10px;
    background-image: linear-gradient(to left, #000000 1%, #373139 99%, #000000);
    animation: fadein 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
} 

.car:hover { 
transform: scale(1.05); 

}

  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



/* text styling 1 */

.blurb
{
    font-family: "Poppins";
    color: white;
    font-size: 30px;
    text-align: center;
    animation: fadein 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.textLink
{
    color: white;
}


.textLink:link
{
    text-decoration: none;
}

.textLink:visited
{
    text-decoration: none;
}

.textLink:hover
{
    color:#1c4fd1;
}

.blurb2
{
    font-family: "Poppins";
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    animation: fadein 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
